body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgray;
}
.full-page {
    background-image: url(../img/new.jpg);
  
  padding-top: 20px;
  text-align: center;
  background-color: white;
  color: white;
  width: auto;
  height: 280px;
  opacity: 0.9;

  background-size: cover;
  background-position: center center;
  background-color: white;
}

