body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
}
.full-page {
    background-image: url(../img/new.jpg);
  
  padding-top: 20px;
  text-align: center;
  background-color: white;
  color: white;
  width: auto;
  height: 280px;
  opacity: 0.9;

  background-size: cover;
  background-position: center center;
  background-color: white;
}

.container {
  
  position: relative;
  border : 3px solid green;
  
  height:200px;
}
h1 {
  text-align : center;
    font-size: 30px;
  padding-top : 80px;
}
p {
  font-size: 20px;
 text-align: center;
 

}
h2 {
  font-size: 20px;
 text-align: center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .container {
    width:100%;
  }
