body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color:white;
}
.full-page {
    background-image: url(../img/new.jpg);
  
  padding-top: 20px;
  text-align: center;
  background-color: white;
  color: white;
  width: auto;
  height: 280px;
  opacity: 0.9;

  background-size: cover;
  background-position: center center;
  background-color: white;
}

.container {
  
  position: relative;
  border : 3px white;
  
  height:200px;
}
h1 {
  text-align : center;
    font-size: 30px;
  padding-top : 80px;
}
p {
  font-size: 20px;
 text-align: center;
 

}
h2 {
  font-size: 20px;
 text-align: center;
}



/* Main Footer */
body {
  font-family: Rubik,Arial,sans-serif;
    font-weight: 400;
    height: 780px;
    font-size: 1rem;
    overflow-x: hidden;
    color: black;
}

.footer-end {
  margin-top: 5px;
   height : 575px;

}

.container-fluid {
   font-size: 150px;
   color: red;
}
}

h5 {
    font-size: 1rem;
    line-height: 1.375;
  font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
  color: skyblue;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #007bff;
  text-decoration: none;
}

footer {
  background: skyblue;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .container {
    width:100%;
  }
